@model HockeyPT.Models.Jogadores

@{
    ViewBag.Title = "DetailsJogador";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h3 style="font-family:Arial;margin-top:40px">@Html.DisplayFor(model => model.Nome)</h3>
    <hr class="estilo2" />

    <div style="display:flex">
        <a href="~/JogadoresFotos/@Model.Fotografia" target="_blank">
            <img src="~/JogadoresFotos/@Model.Fotografia" width="270" height="409" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)"/>
        </a>

        <div class="detalhesJogadorEsq" style="margin-left:30px">
            <h3 style="margin-bottom:0px">Nome do Jogador:</h3>
            <p>@Html.DisplayFor(model => model.Nome)</p>
            
            <h3 style="margin-bottom:0px"> Data de Nascimento:</h3>
            <p>@Html.DisplayFor(model => model.DataNascimento)</p>
            
            <h3 style="margin-bottom:0px"> Nacionalidade do Jogador:</h3>
            <p>@Html.DisplayFor(model => model.Nacionalidade)</p>
            <h3 style="margin-bottom:0px"> Altura do Jogador:</h3>
            <p>@Html.DisplayFor(model => model.Altura)</p>

        </div>
        <div class="detalhesJogadorDir" style="float:right; margin-left:30px">
            <h3 style="margin-bottom:0px"> Posição do Jogador:</h3>
            <p>@Html.DisplayFor(model => model.Posicao)</p>
            <h3 style="margin-bottom:0px"> Nacionalidade do Jogador:</h3>
            <p>@Html.DisplayFor(model => model.Nacionalidade)</p>
            <h3 style="margin-bottom:0px"> Peso do Jogador:</h3>
            <p>@Html.DisplayFor(model => model.Peso)</p>

        </div>
    </div>

    @if (User.IsInRole("Administrador") || User.IsInRole("Moderador"))
    {
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("Edit","Jogadores",new { id = Model.ID })'">Editar</button>
            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete","Jogadores",new { id = Model.ID })'">Apagar</button>
        </div>


    }

    <div style="margin-top:20px">
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details","Equipas", new { id = Model.EquipaPK })'"> Voltar ao Inicio </button>
    </div>
    



</body>
</html>
