@model HockeyPT.Models.Jogadores

@{
    ViewBag.Title = "DetailsJogador";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Jogadores</h4>
        <hr />
        <a href="~/JogadoresFotos/@Model.Fotografia" target="_blank">
            <img src="~/JogadoresFotos/@Model.Fotografia" width="250" height="409" />
        </a>
    </div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Equipa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionalidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionalidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Altura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Altura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Peso)
        </dd>

    </dl>

    @if (User.IsInRole("Administrador") || User.IsInRole("Moderador"))
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
        </p>

    }

        <p>
            <a href="@Url.Action("Details","Equipas",new { id = Model.EquipaPK })">Voltar ao inicio</a>
        </p>
</body>
</html>
