@model IEnumerable<HockeyPT.Models.Jogadores>

@{
    ViewBag.Title = "Jogadores";
}

<h1> Lista de Jogadores </h1>
                                                                                    
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Criar Novo Jogador", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fotografia)
            </th>
            
        </tr>
    
    @foreach (var jogadores in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => jogadores.Nome)
            </td>
            
            <td>
                @*@Html.DisplayFor(modelItem => item.Fotografia)*@
                
                <a href="~/JogadoresFotos/@jogadores.Fotografia" target="_blank">
                    <img src="~/JogadoresFotos/@jogadores.Fotografia" width="50" height="70"/>
                </a>
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = jogadores.ID }) |
                @Html.ActionLink("Detalhes", "Details", new { id = jogadores.ID }) |
                @Html.ActionLink("Apagar", "Delete", new { id = jogadores.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
