@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Altere a sua conta";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">

        <div>
            <hr />
            <div>
                @Html.Action("Details", "Utilizadores", new { id = Session["NomeUser"] })
            </div>
            @if (Model.HasPassword)
            {
                <br />
                <a href="@Url.Action("ChangePassword","Manage")" style="font-size:15px;color:darkred;font-style:italic">Alterar password</a>
            }
            else
            {
                <br />
                @Html.ActionLink("Create", "SetPassword")
            }
        </div>

        <div>
            <a href="@Url.Action("Edit","Utilizadores", new { id = Session["NomeUser"] })" style="font-size:15px;color:darkred;font-style:italic">Editar Perfil</a>
        </div>


        @*@Html.Action("Details","Utilizadores",new { id = (int)Session["UtilizadorID"] })*@


    </div>
</div>
