@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Altere a sua conta";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <v class="col-md-8">

        <div>
            <hr />
            <div>
                @Html.Action("Details", "Utilizadores", new { id = Session["UtilizadorID"] })
            </div>
            @if (Model.HasPassword)
        {
            <br />
            <a href="@Url.Action("ChangePassword","Manage")" style="font-size:15px;color:darkred;font-style:italic">Alterar password</a>
    }
    else
    {
        <br />
        @Html.ActionLink("Create", "SetPassword")
}
        </div>

        <div>
            <a href="@Url.Action("Edit","Utilizadores", new { id = Session["UtilizadorID"] })" style="font-size:15px;color:darkred;font-style:italic">Editar Perfil</a>
        </div>


        <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("Index", "Noticias")'" style="margin-top:20px; margin-bottom:10px">Cancelar</button>

    </div>

