@model IdentitySample.Models.IndexViewModel
@{
    ViewBag.Title = "Altere a sua conta";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-8">

        <h5>
            Nome:
        </h5>
       



        <p>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Mude a sua passe-word", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Confirme a sua passe-word", "SetPassword")
            }
        </p>
       @Html.Action("Details","Utilizadores",new { id = (int)Session["UtilizadorID"] })
        
     
    </div>
</div>
