@model HockeyPT.Models.Utilizadores

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4 style="margin-left:30px">UserName:</h4>
        <p style="margin-left:30px">@Html.DisplayFor(model => model.Username) </p>
        <h4 style="margin-left:30px">Nome Completo:</h4>
        <p style="margin-left:30px">@Html.DisplayFor(model => model.NomeCompleto)</p>
        <h4 style="margin-left:30px">E-mail:</h4>
        <p style="margin-left:30px">@Html.DisplayFor(model => model.Email)</p>
        <h4 style="margin-left:30px">Contacto Telefónico</h4>
        <p style="margin-left:30px">@Html.DisplayFor(model => model.ContactoTelefonico) </p>
        <h4 style="margin-left:30px">Data de Nascimento:</h4>
        <p style="margin-left:30px"> @Html.DisplayFor(model => model.DataNascimento)</p>

    </div>
   
</body>
</html>
