@model HockeyPT.Models.Equipas

@{
    ViewBag.Title = "Details";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <div class="text-center">
            <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif;color: grey">@Html.DisplayFor(model => model.Nome) - @Html.DisplayFor(model => model.Cidade)</h1>
        </div>
        <div class="container">
            <div class="row">
                <hr class="estilo1">
                <br>
            </div>

        </div>

        <div class="text-center">
            <img src="~/EquipasFotos/@Model.Logotipo" style="width:250px; height:250px; align-items:center" />
        </div>


        <div>

            <h1>Plantel: </h1>

            @foreach (var jogadores in Model.ListaDeJogadores.ToList())
            {
                <div>
                    <div class="col-md-4">
                        <div class="img-thumbnail" style="margin-bottom:10px;">
                            <img class="imagemJogador" onclick="location.href='@Url.Action("Details","Jogadores", new { id = jogadores.ID })'" src="~/JogadoresFotos/@Html.DisplayFor(j=>jogadores.Fotografia)" width="260" height="409" />
                            <div class="caption" style="height:30px">
                                <p style="font-family: 'Arial';font-size:130%;color:black;text-align:center">@Html.DisplayFor(nome => jogadores.Nome)</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div style="margin-top:50px">
        @if (User.IsInRole("Administrador") || User.IsInRole("Moderador"))
        {
            <button type = "button" class="btn btn-default" onclick=" location.href='@Url.Action("Create", "Jogadores", new { EquipaFK = Model.ID })'">Adicionar um Jogador</button>
        }

    </div>



    <button type="button" class="btn btn-default" style="margin-bottom:0px; margin-top:500px;" onclick="location.href='@Url.Action("Index", "Noticias", new { id = Model.ID })'"> Voltar ao Inicio </button>




</body>
</html>
