@model HockeyPT.Models.Comentarios

@{
    ViewBag.Title = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Tem a certeza que pretende eliminar o comentário?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            
            <dt>
                Utilizador:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Utilizador.Username)
            </dd>
    
            <dt>
               Comentário:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Texto)
            </dd>
    
            <dt>
                Data/Hora: 
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.dataComentario)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Comentarios", new { id = Model.ID })'">Apagar</button>
            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details", "Noticias", new { id = Model.NoticiaPK })'">Voltar atrás</button>

        </div>
        }
    </div>
</body>
</html>
